

hr {color: tomato;}

h1 {
    text-align: center;
    font-family: fantasy;
    color: rgb(219, 161, 54);
    border: 3px solid orange;
}

h2 {
    font-family: fantasy;
    text-align: center;
    color: orange;
}

h3 {
    font-family: fantasy;
    text-align: center;
    color: orange;
   
}



#monza:hover {
color: darkslateblue;;
}

#parco {
    color: green;
}

#duomo{
    color: darkmagenta;
}

#autodromo{
    color: blue;
}

p{
    font-family: Cambria, serif;
    color: darkblue;
}

b {
    color: orange;
}

:required {
    background-color: lightgoldenrodyellow;
    }



table {
    border: 3px solid darkgreen;
    border-collapse: collapse;
    Width: 30%;
    align-content: center;
    margin: 0 auto;
    }        
    
    td, th {
    border: 1px dotted darkgreen;
    padding: 3px;
    text-align: center;
    font-family: 'Trebuchet MS'; ;
    }
    th {
    background-color: rgb(250, 225, 143);
    color: rgb(219, 127, 51);
    }
    td {
    background-color: rgb(245, 240, 218);
    }